/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, button {
  display: block; }

body {
  line-height: 1.25em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent; }

.container {
  max-width: 980px;
  margin: 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

@media screen and (min-width: 1041px) {
  .container {
    max-width: 980px;
    margin: auto; } }

img {
  width: 100%; }

a {
  color: #000000;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a.nolink, a.nolink:hover {
  text-decoration: none; }

button, .button {
  font-size: 1em;
  padding: 1.5em;
  background-color: #080808;
  color: #ffffff;
  border: none; }

h1, h3, .subhead, #featured-concert > article.concert div.concert-info p.concert-tag, #next-concerts > article.concert div.concert-info p.concert-tag, #recent-blog-posts > article.blog-post div.blog-info p.blog-tag, #concert-listings article.concert .concert-info-a .concert-tag, #concert .concert-tag, #featured-concert > article.concert div.concert-info p.concert-date, #next-concerts > article.concert div.concert-info p.concert-date, #recent-blog-posts > article.blog-post div.blog-info p.blog-date, #concert-listings article.concert .concert-info-a .concert-location, #concert-listings article.concert .concert-info-b .concert-program .concert-program-date, .concert-program-date, .email-social .email-subscribe, .navigation > .container > nav, footer > .container, #concert .concert-program h2, #concert .concert-soloists h2 {
  font-family: "azo-sans-web", "Helvetica Neue", sans-serif; }

h2, #concert .concert-title-info .concert-name {
  font-family: "kepler-std-semicondensed-dis", serif; }

html, #concert .concert-soloists .concert-soloist .concert-program-listing p.concert-program-date {
  font-family: "utopia-std", "adobe-caslon-pro", serif; }

html {
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400; }

h1, h3, footer > .container nav.footer-nav ul > li > a.nolink {
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  font-size: 1.375em;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.25em; }

h2 {
  font-size: 2em;
  line-height: 1.3em; }

h3 {
  font-size: 0.7em; }

.subhead, #featured-concert > article.concert div.concert-info p.concert-tag, #next-concerts > article.concert div.concert-info p.concert-tag, #recent-blog-posts > article.blog-post div.blog-info p.blog-tag, #concert-listings article.concert .concert-info-a .concert-tag, #concert .concert-tag, #featured-concert > article.concert div.concert-info p.concert-date, #next-concerts > article.concert div.concert-info p.concert-date, #recent-blog-posts > article.blog-post div.blog-info p.blog-date, #concert-listings article.concert .concert-info-a .concert-location, #concert-listings article.concert .concert-info-b .concert-program .concert-program-date, .concert-program-date {
  font-size: 0.625em;
  line-height: 1em; }

.navigation {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 -5px 3px -10px #fff;
  margin-bottom: 1em; }

@media screen and (min-width: 851px) {
  .navigation {
    box-shadow: none; } }

.navigation > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 22px; }

@media screen and (min-width: 851px) {
  .navigation > .container {
    margin-top: -54px;
    padding-bottom: 1em;
    margin-bottom: 1em; } }

.email-social {
  display: none; }

@media screen and (min-width: 851px) {
  .email-social {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-transform: translateY(54px);
        -ms-transform: translateY(54px);
            transform: translateY(54px); } }

.email-social .email-subscribe {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1em;
  margin-bottom: 0; }

.email-social .email-subscribe h3 {
  color: inherit;
  text-decoration: none;
  font-size: 0.625rem; }

.email-social .email-subscribe h3:focus {
  outline: 0; }

.email-social .subscribe {
  display: block;
  z-index: 100;
  background: #fff; }

.email-social .subscribe form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.email-social .subscribe form label[for=mce-EMAIL] {
  display: none; }

.email-social .social {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.email-social .social * {
  font-size: 1.5em;
  margin-right: 0.625em; }

.logo {
  max-width: 75px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

@media screen and (min-width: 851px) {
  .logo {
    max-width: 100px;
    margin-bottom: 8px; } }

.navigation .title > h1 {
  display: none; }

@media screen and (min-width: 851px) {
  .navigation .title > h1 {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 4px; } }

.nav-toggle {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px); }

@media screen and (min-width: 851px) {
  .nav-toggle {
    display: none; } }

.nav-toggle button {
  width: 30px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  border: none; }

.nav-toggle .nav-toggle-bar {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 6px;
  background-color: #4d4d4d;
  border-radius: 1px; }

.nav-toggle .nav-toggle-bar:last-child {
  margin-bottom: 0; }

.navigation > .container > nav {
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1em;
  margin-bottom: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: none; }

.navigation > .container > nav a {
  color: inherit;
  text-decoration: none; }

.navigation > .container > nav > ul > li > ul {
  padding-left: 2em; }

@media screen and (min-width: 851px) {
  .navigation > .container > nav {
    border-bottom: 1px solid #4d4d4d;
    display: block; }
  .navigation > .container > nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .navigation > .container > nav > ul > li {
    display: inline-block;
    padding-right: 5em; }
  .navigation > .container > nav > ul > li:last-of-type {
    padding-right: 0; }
  .navigation > .container > nav > ul > li > ul {
    padding-left: 0;
    position: absolute;
    display: none;
    background-color: #FFFFFF; }
  .navigation > .container > nav > ul > li:hover > ul {
    display: block; } }

.navigation > .container > nav.active {
  display: block; }

footer > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-bottom: 3em;
  border-bottom: none;
  margin-bottom: 1em; }

@media screen and (min-width: 551px) {
  footer > .container {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; } }

footer > .container nav.footer-nav {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-columns: 1;
     -moz-columns: 1;
          columns: 1; }

@media screen and (min-width: 551px) {
  footer > .container nav.footer-nav {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2; } }

footer > .container nav.footer-nav > ul > li {
  margin-bottom: 1em; }

footer > .container nav.footer-nav ul > li > a.nolink {
  color: #f21d59;
  font-weight: 500; }

footer > .container div.contact {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

footer > .container div.contact div.icon {
  display: inline-block;
  width: 1.5em;
  margin-right: 7px; }

footer > .container div.contact div.icon i {
  float: right; }

footer > .container div.subscribe {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

footer > .container .button {
  padding: 1.5em;
  background-color: #080808;
  color: #ffffff;
  border: none; }

footer > .container p, footer > .container li, footer > .container a {
  font-size: 12px;
  letter-spacing: 0; }

.concert-program-listing .concert-program-piece-composer {
  font-weight: 600; }

.concert-program-listing .concert-program-piece-soloist {
  padding-left: 3em; }

.concert-program-listing .concert-program-piece-soloist a {
  color: #f21d59; }

.concert-program-listing .instrument {
  font-style: italic; }

#featured-concert > article.concert div.concert-info p.concert-tag, #next-concerts > article.concert div.concert-info p.concert-tag, #recent-blog-posts > article.blog-post div.blog-info p.blog-tag, #concert-listings article.concert .concert-info-a .concert-tag, #concert .concert-tag {
  color: #f21d59; }

#featured-concert > article.concert div.concert-info h2.concert-name, #next-concerts > article.concert div.concert-info h2.concert-name, #recent-blog-posts > article.blog-post div.blog-info h2.blog-name, #concert-listings article.concert .concert-info-a h2.concert-name {
  text-transform: capitalize;
  text-align: center; }

#featured-concert > article.concert div.concert-info p.concert-date, #next-concerts > article.concert div.concert-info p.concert-date, #recent-blog-posts > article.blog-post div.blog-info p.blog-date, #concert-listings article.concert .concert-info-a .concert-location, #concert-listings article.concert .concert-info-b .concert-program .concert-program-date, .concert-program-date {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em; }

#featured-concert > article.concert div.concert-info p.concert-copy, #next-concerts > article.concert div.concert-info p.concert-copy, #recent-blog-posts > article.blog-post div.blog-info p.blog-copy {
  margin: 0 1em;
  text-align: center; }

#featured-concert > article.concert, #next-concerts, #recent-blog-posts, #concert-listings article.concert {
  padding-bottom: 1.75em;
  margin-bottom: 1.75em;
  border-bottom: 1px solid #4d4d4d; }

#featured-concert > article.concert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

#featured-concert > article.concert div.concert-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#featured-concert > article.concert div.concert-info h2.concert-name {
  font-size: 3em;
  text-transform: uppercase; }

@media screen and (min-width: 851px) {
  #featured-concert > article.concert {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  #featured-concert > article.concert div.concert-image {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-right: 1em;
    border-right: none; }
  #featured-concert > article.concert div.concert-image .concert-image-container {
    margin-right: 1em; }
  #featured-concert > article.concert div.concert-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #featured-concert > article.concert div.concert-info div.concert-image {
    max-width: 100px; }
  #featured-concert > article.concert div.concert-info p.concert-copy {
    font-size: 1.125em; } }

#next-concerts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 851px) {
  #next-concerts {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; } }

#next-concerts > article.concert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1.75em; }

#next-concerts > article.concert div.concert-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#next-concerts > article.concert div.concert-info h2.concert-name {
  text-transform: uppercase; }

@media screen and (min-width: 851px) {
  #next-concerts > article.concert {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 0; }
  #next-concerts > article.concert div.concert-image {
    margin-bottom: 15px; }
  #next-concerts > article.concert div.concert-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media screen and (min-width: 851px) {
  #next-concerts > article.concert > div.concert-info {
    border-right: 1px solid #cacaca; } }

#next-concerts > article.concert:last-of-type > div.concert-info {
  border-right: none; }

#recent-blog-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 551px) {
  #recent-blog-posts {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; } }

#recent-blog-posts > article.blog-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1.75em; }

#recent-blog-posts > article.blog-post div.blog-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#recent-blog-posts > article.blog-post div.blog-info h2.blog-name {
  font-size: 1.7em; }

@media screen and (min-width: 551px) {
  #recent-blog-posts > article.blog-post {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 0; }
  #recent-blog-posts > article.blog-post div.blog-image .blog-image-container {
    padding: 0 1em; }
  #recent-blog-posts > article.blog-post div.blog-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  #recent-blog-posts > article.blog-post div.blog-info h2.blog-name {
    padding: 0 1em; } }

@media screen and (min-width: 551px) {
  #recent-blog-posts > article.blog-post > div.blog-info {
    border-right: 1px solid #cacaca; } }

#recent-blog-posts > article.blog-post:last-of-type > div.blog-info {
  border-right: none; }

#concert-listings article.concert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 851px) {
  #concert-listings article.concert {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

#concert-listings article.concert .concert-info-a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 851px) {
  #concert-listings article.concert .concert-info-a {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 32.10884%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    margin-bottom: 18px; } }

#concert-listings article.concert .concert-info-a h2.concert-name {
  text-align: left; }

#concert-listings article.concert .concert-info-b {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 551px) {
  #concert-listings article.concert .concert-info-b {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media screen and (min-width: 851px) {
  #concert-listings article.concert .concert-info-b {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 65.44218%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    margin-bottom: 18px; } }

#concert-listings article.concert .concert-info-b .concert-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

@media screen and (min-width: 551px) {
  #concert-listings article.concert .concert-info-b .concert-image {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 100%; } }

#concert-listings article.concert .concert-info-b .concert-program {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  border: 1px solid #cacaca;
  width: 100%; }

@media screen and (min-width: 551px) {
  #concert-listings article.concert .concert-info-b .concert-program {
    width: 48.59956%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    margin-bottom: 18px; } }

#concert-listings article.concert .concert-info-b .concert-program .concert-program-listing .concert-program-piece-composer {
  font-weight: 600; }

#concert-listings article.concert .concert-info-b .concert-program .concert-program-listing .concert-program-piece-soloist {
  padding-left: 3em; }

#concert-listings article.concert .concert-info-b .concert-program .concert-program-listing .concert-program-piece-soloist a {
  color: #f21d59; }

#concert-listings article.concert .concert-info-b .concert-program .concert-program-listing .instrument {
  font-style: italic; }

#concert .concert-program h2, #concert .concert-soloists h2 {
  font-size: 1.25rem;
  text-transform: uppercase; }

#concert .concert-image {
  margin-bottom: 1em; }

#concert .concert-title-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 1em; }

@media screen and (min-width: 551px) {
  #concert .concert-title-info {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

#concert .concert-title-info .concert-name {
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1em;
  padding-right: 1em; }

@media screen and (min-width: 551px) {
  #concert .concert-title-info .concert-name {
    margin-bottom: 0; } }

#concert .concert-copy-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 1em; }

@media screen and (min-width: 551px) {
  #concert .concert-copy-container {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

#concert .concert-copy-container .concert-date-location {
  font-style: italic;
  white-space: nowrap; }

#concert .concert-copy-container .concert-date-location .concert-date {
  font-weight: 600; }

@media screen and (min-width: 551px) {
  #concert .concert-copy-container .concert-date-location {
    margin-right: 18px; } }

#concert .concert-copy-container .concert-conductors {
  font-style: italic; }

#concert .concert-program {
  margin-bottom: 1em; }

#concert .concert-soloists {
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 551px) {
  #concert .concert-soloists {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

#concert .concert-soloists h2 {
  width: 100%; }

#concert .concert-soloists .concert-soloist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

@media screen and (min-width: 551px) {
  #concert .concert-soloists .concert-soloist {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 30.88435%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    margin-bottom: 36px; }
  #concert .concert-soloists .concert-soloist:nth-of-type(3n+2):last-of-type {
    margin-left: 3.67347%;
    margin-right: auto; } }

#concert .concert-soloists .concert-soloist .concert-program-listing .concert-program-piece-soloist {
  padding-left: 0; }

#concert .concert-soloists .concert-soloist .concert-program-listing p.concert-program-date {
  font-size: 1rem;
  font-style: italic;
  text-transform: none; }

#concert .concert-soloists .concert-soloist .concert-soloist-image {
  width: 100%; }
