/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, button {
  display: block; }

body {
  line-height: 1.25em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent; }

.container {
  max-width: 980px;
  margin: 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

@media screen and (min-width: 1241px) {
  .container {
    max-width: 980px;
    margin: auto; } }

img {
  width: 100%; }

html {
  font-family: "utopia-std", "adobe-caslon-pro", serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400; }

h1 {
  font-family: "azo-sans-web", "Helvetica Neue", sans-serif;
  font-size: 1.375em;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1.25em; }

h2 {
  font-family: "kepler-std-semicondensed-dis", serif;
  font-size: 2em;
  line-height: 1.3em; }

h3 {
  font-family: "azo-sans-web", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px; }

.subhead, #featured-concert > article.concert div.concert-info p.concert-tag, #next-concerts > article.concert div.concert-info p.concert-tag, #recent-blog-posts > article.blog-post div.blog-info p.blog-tag, #featured-concert > article.concert div.concert-info p.concert-date, #next-concerts > article.concert div.concert-info p.concert-date, #recent-blog-posts > article.blog-post div.blog-info p.blog-date {
  font-size: 0.625em;
  letter-spacing: 1px;
  line-height: 1em; }

.navigation > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 22px;
  padding-bottom: 1em;
  margin-bottom: 1em; }

.logo {
  max-width: 100px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-bottom: 8px; }

@media screen and (min-width: 1001px) {
  .logo {
    max-width: 100px; } }

.navigation .title > h1 {
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 4px; }

.nav-toggle {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

@media screen and (min-width: 501px) {
  .nav-toggle {
    display: none; } }

.nav-toggle button {
  width: 30px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.nav-toggle .nav-toggle-bar {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 6px;
  background-color: #000000; }

.nav-toggle .nav-toggle-bar:last-child {
  margin-bottom: 0; }

nav {
  font-size: 0.625rem;
  font-family: "azo-sans-web", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 1em;
  margin-bottom: 0;
  display: none; }

nav a {
  color: inherit;
  text-decoration: none; }

@media screen and (min-width: 501px) {
  nav {
    display: block; } }

@media screen and (min-width: 1001px) {
  nav > ul > li {
    display: inline-block;
    padding-right: 5em; }
  nav > ul > li > ul {
    position: absolute;
    display: none; }
  nav > ul > li:hover > ul {
    display: block; } }

nav.active {
  display: block; }

#featured-concert > article.concert div.concert-info p.concert-tag, #next-concerts > article.concert div.concert-info p.concert-tag, #recent-blog-posts > article.blog-post div.blog-info p.blog-tag {
  font-family: "azo-sans-web", "Helvetica Neue", sans-serif;
  color: #f21d59; }

#featured-concert > article.concert div.concert-info h2.concert-name, #next-concerts > article.concert div.concert-info h2.concert-name, #recent-blog-posts > article.blog-post div.blog-info h2.blog-name {
  text-transform: uppercase;
  text-align: center; }

#featured-concert > article.concert div.concert-info p.concert-date, #next-concerts > article.concert div.concert-info p.concert-date, #recent-blog-posts > article.blog-post div.blog-info p.blog-date {
  font-family: "azo-sans-web", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em; }

#featured-concert > article.concert div.concert-info p.concert-copy, #next-concerts > article.concert div.concert-info p.concert-copy, #recent-blog-posts > article.blog-post div.blog-info p.blog-copy {
  margin: 0 1em;
  text-align: center; }

#featured-concert > article.concert, #next-concerts, #recent-blog-posts {
  padding-bottom: 1.75em;
  margin-bottom: 1.75em;
  border-bottom: 1px solid #4d4d4d; }

#featured-concert > article.concert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

#featured-concert > article.concert div.concert-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#featured-concert > article.concert div.concert-info h2.concert-name {
  font-size: 3em; }

@media screen and (min-width: 1001px) {
  #featured-concert > article.concert {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  #featured-concert > article.concert div.concert-image {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-right: 1em;
    border-right: none; }
  #featured-concert > article.concert div.concert-image .concert-image-container {
    margin-right: 1em; }
  #featured-concert > article.concert div.concert-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  #featured-concert > article.concert div.concert-info div.concert-image {
    max-width: 100px; }
  #featured-concert > article.concert div.concert-info p.concert-copy {
    font-size: 1.125em; } }

#next-concerts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 1001px) {
  #next-concerts {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; } }

#next-concerts > article.concert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1.75em; }

#next-concerts > article.concert div.concert-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (min-width: 1001px) {
  #next-concerts > article.concert {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 0; }
  #next-concerts > article.concert div.concert-image {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-bottom: 15px; }
  #next-concerts > article.concert div.concert-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media screen and (min-width: 1001px) {
  #next-concerts > article.concert > div.concert-info {
    border-right: 1px solid #cacaca; } }

#next-concerts > article.concert:last-of-type > div.concert-info {
  border-right: none; }

#recent-blog-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 1001px) {
  #recent-blog-posts {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; } }

#recent-blog-posts > article.blog-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1.75em; }

#recent-blog-posts > article.blog-post div.blog-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (min-width: 1001px) {
  #recent-blog-posts > article.blog-post {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 0; }
  #recent-blog-posts > article.blog-post div.blog-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media screen and (min-width: 1001px) {
  #recent-blog-posts > article.blog-post > div.blog-info {
    border-right: 1px solid #cacaca; } }

#recent-blog-posts > article.blog-post:last-of-type > div.blog-info {
  border-right: none; }
