// Global Colors

$tag-color: #f21d59;

// Media Queries
$break-small: 550px;
$break-large: 850px;
$break-xlarge: 1040px;

@mixin respond-to($media) {
  @if $media == small {
    @media screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == medium-plus {
    @media screen and (min-width: $break-small + 1) { @content; }
  }
  @else if $media == wide {
    @media screen and (min-width: $break-large) and (max-width: $break-xlarge - 1) { @content; }
  }
  @else if $media == wide-plus {
    @media screen and (min-width: $break-large + 1) { @content; }
  }
  @else if $media == super-wide {
    @media screen and (min-width: $break-xlarge + 1) { @content; }
  }
}

// Layout
//$max-container-width: 1200px;
$max-container-width: 980px;
$container-margin: 35px;
$default-gutter: 16px;

@mixin col($no-of-cols, $total-cols, $container-width: $max-container-width, $gutter: $default-gutter) {
  //note that parent element needs justify-content: space-between;
  $total-gutter: ($total-cols - $no-of-cols) * $gutter;
  $calculated-width: ($container-width - $total-gutter) * ($no-of-cols / $total-cols);
  $percentage-width: ($calculated-width / $container-width) * 100%;
  width: $percentage-width;
  flex: none;
  margin-bottom: $gutter;
}
