.container.blog-post-page {
  margin-bottom: 1em;

  @include respond-to(medium-plus) {
    flex-flow: row nowrap;
    align-items: baseline; // this is what is aligning the h2"upcoming blog posts" to the baseline of the image
  }
}

#blog-post {
  flex: 1 100%;

  @include respond-to(medium-plus) {
    flex: 2 66%;
    border-right: $lesser-border;
    padding: 0 1em;
  }
  .blog-post-image {
    margin-bottom: 1em;
  }
}
#blog-post .blog-post-title-info {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;

  @include respond-to(medium-plus) {

  }

  .blog-post-dateline {
     @extend %section-tag;
     align-self: flex-end;
     margin-right: 5em;
  }
  .blog-post-name {
    @extend %serif-display;     // Why is this all caps? I can't find where it's coming from.
    @extend %big3;
    text-align: center;
    line-height: 1em;
    padding: 0 1em;
    margin-bottom: 0;
  }

  .blog-post-author {
    @extend %caps-sans;
  }

  .social-buttons {

  }
}

#blog-post .blog-post-body {

}

#blog-post-recent {
  flex: 1 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @include respond-to(medium-plus) {
    flex: 1 33%;
    padding-left: 1em;
  }

  h2 {
    @extend %caps-sans;
  }

  > ul > li {
    margin-bottom: 1em;

    .blog-post-title {
      font-weight: 600;
    }
  }
}
