.container.blog-post-page {
 margin-bottom: 1em;

  @include respond-to(medium-plus) {
    flex-flow: row nowrap;
    align-items: center; // this is what is aligning the h2"upcoming blog posts" to the baseline of the image
  }
}

#blog-post {
  flex: 1 100%;
  @extend %border-bottom;
  @include respond-to(medium-plus) {
    flex: 7 70%;
    padding: 0 $big3 0 0;
    border-bottom: none;
  }
  .blog-post-image {
    margin-bottom: 1em;
  }
}
#blog-post .blog-post-title-info {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
  text-align:center;
  
  .blog-post-dateline {
     @extend %section-tag;
  }
  .blog-post-title {
    @extend %serif-display;
    @extend %big3;
    text-align: center;
    line-height: 1em;
    padding: 0 0;
    margin-bottom: 0;
  }

  .blog-post-author {
    @extend %caps-sans;
  }

  .social-buttons {
  }
}

#blog-post .blog-post-body {
    @extend %copy;
}

#blog-post-recent {
  flex: 1 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-bottom: $container-margin;
  height: 100%;

  @include respond-to(medium-plus) {
    flex: 3 30%;
    padding-left: 1em;
    border-left: $lesser-border;
    padding-top: 2em;
  }

  h2 {
    @extend %small-heading;
    margin-bottom: 1em;
    @include respond-to(wide-plus) {
      font-size: 18px;
    }
  }

  > ul > li {
    margin-bottom: 1em;
    @extend %section-tag;

    .blog-post-title {
      @extend %copy;
      font-style: normal;
      &:after {
        content: "—";
        color: white;
      }
    }
  }
}
