%concert-page-h2 {
  @extend %sans;
  font-size: 1.25rem;
  text-transform: uppercase;
}

#concert {
  .concert-tag {
    @extend %hp-section-tag;
  }
  .concert-image {
    margin-bottom: 1em;
  }
}

#concert .concert-title-info {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;

  @include respond-to(medium-plus) {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .concert-name {
    @extend %serif-display;
    //@extend %hp-section-name;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1em;
    padding-right: 1em;

    @include respond-to(medium-plus) {
      margin-bottom: 0;
    }
  }

  .concert-date-location {
    font-style: italic;
    white-space: nowrap;
    .concert-date {
      font-weight: 600;
    }
    @include respond-to(medium-plus) {
      //align-self: flex-end;
    }
  }
}

#concert .concert-copy-container {
  margin-bottom: 1em;
  .concert-conductors {
    font-style: italic;
  }
}

#concert .concert-program {
  margin-bottom: 1em;

  h2 {
    @extend %concert-page-h2;
  }


}

#concert .concert-soloists {
  margin-bottom: 1em;

  h2 {
    @extend %concert-page-h2;
  }
}

#concert .concert-soloists .concert-soloist {
  @include respond-to(medium-plus) {
    .concert-soloist-image {
      @include col(1,3);
    }

    .concert-soloist-bio {
      @include col(2,3);
    }
  }
}
