// base extensions - not media query specific
%hp-section-name {
  @extend %serif-display;
  text-transform: capitalize;
  text-align: center;
}

%hp-section-date {
  @extend %caps-sans;
  margin-bottom: $small1;
}

%hp-section-copy {
	//@extend %copy;
  margin: 0 $small1;
  text-align: center;
}

%hp-bottom-border {
  padding-bottom: $container-margin;
  margin-bottom: $container-margin;
  border-bottom: $border;
}

//////////////////////////////////
// Featured concert on homepage //
//////////////////////////////////
#featured-concert > article.concert {
  display: flex;
  flex-flow: column nowrap;
  @extend %border-bottom-dark;
  div.concert-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p.concert-tag {
      @extend %section-tag;
    }
    h2.concert-name {
      font-size: $big3;
    }
    p.concert-date {
      @extend %hp-section-date;
    }
    p.concert-copy {
      @extend %hp-section-copy;
    }
  } // end of div.concert-info

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;

    div.concert-image {
      flex: 2;
      .concert-image-container { // flexbox doesn't 'count' padding or margins, need container to add spacing to img
      margin-right: $container-margin;
      }
      padding-right: $container-margin;
      border-right: none;
    }
    div.concert-info {
      flex: 1;
      justify-content: center;

      div.concert-image {
        max-width: 100px;
      }
      p.concert-copy {
        font-size: $big1;
      }
    } // end of div.concert-info

  } // end of 'wide-plus'
}

///////////////////////////
// Row of two blog posts //
///////////////////////////
#recent-blog-posts {
  display: flex;
  flex-flow: column nowrap;

  @include respond-to(medium-plus) {
    flex-flow: row nowrap;
  }
}

#recent-blog-posts > article.blog-post {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  @extend %border-bottom;
  div.blog-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p.blog-tag {
      @extend %section-tag;
    }
    h2.blog-name {
      @extend %hp-section-name;
    }
    p.blog-date {
      @extend %hp-section-date;
    }
    p.blog-copy {
      @extend %hp-section-copy;
      padding: 0 22px;

    }
  } // end of div.blog-info

  @include respond-to(medium-plus) {
    @extend %border-bottom-dark;
    flex-flow: row nowrap;
    //margin-bottom: 0;
    
    div.blog-image {
      .blog-image-container {
        padding: 0 1em;
      }
    }
    div.blog-info {
      flex: 1;
      h2.blog-name {
        padding: 0 1em;
      }
    } // end of div.blog-info
  } // end of 'wide-plus'
}

@include respond-to(medium-plus) {
  #recent-blog-posts > article.blog-post {
    > div.blog-info {
      border-right: $lesser-border;
    }
  }
}

#recent-blog-posts > article.blog-post:last-of-type {
  > div.blog-info {
    border-right: none;
  }
}


////////////////////////////////////
// Row of three upcoming concerts //
////////////////////////////////////
#next-concerts {
  display: flex;
  flex-flow: column nowrap;
  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
  }
}

#next-concerts > article.concert {
  @extend %border-bottom;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
 
  div.concert-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p.concert-tag {
      @extend %section-tag;
    }
    h2.concert-name {
      @extend %hp-section-name;
    }
    p.concert-date {
      @extend %hp-section-date;
    }
    p.concert-copy {
      @extend %hp-section-copy;
      padding: 0 22px;
    }
  } // end of div.concert-info

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
    margin-bottom: $container-margin;
    border-bottom: none;

    div.concert-image {
      margin-bottom: $small3;
    }
    div.concert-info {
      flex: 1;
    } // end of div.concert-info

  } // end of 'wide-plus'
}

@include respond-to(wide-plus) {
  #next-concerts > article.concert { // wrapped this in a MQ to remove the line on mobile
    > div.concert-info {
      border-right: $lesser-border;
    }
  }
}

#next-concerts > article.concert:last-of-type {
    border-bottom: none;
  > div.concert-info {
    border-right: none;
  }
}
