#concert-listings article.concert {
  display: flex;
  flex-flow: column nowrap;
  @extend %hp-bottom-border;

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

#concert-listings article.concert .concert-info-a {
  flex: 1;

  @include respond-to(wide-plus) {
    flex: none;
    @include col(1,3);
  }

  display: flex;
  flex-flow: column nowrap;

  .concert-tag {
    @extend %hp-section-tag;
  }

  h2.concert-name {
    @extend %caps-serif-display;
    text-align: left;
  }
  .concert-location {
    @extend %hp-section-date; // maybe rename this extension?
  }
  .concert-copy {
    //@extend %hp-section-copy;
    //text-align: left;
  }
}

#concert-listings article.concert .concert-info-b {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;

  @include respond-to(medium-plus) {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  @include respond-to(wide-plus) {
    //flex: 2;
    flex: none;
    @include col(2,3);
  }

  .concert-image {
    flex: 1;
    @include respond-to(medium-plus) {
      flex: none;
      width: 100%;
    }
  }
  // .concert-program-container {
  //   display: flex;
  // }

  .concert-program {
    flex: none;
    border: $lesser-border;
    width: 100%;
    @include respond-to(medium-plus) {
      // width: ((($max-container-width * 0.66) - $base-font-size) / 2) / ($max-container-width * 0.66) * 100%;
      @include col(1, 2, $container-width: 642.656px);
    }

    .concert-program-date{
      @extend %hp-section-date;
    }
    .concert-program-listing {
      .concert-program-piece {

      }
      .concert-program-piece-composer {
        font-weight: 600;
      }
      .concert-program-piece-soloist {
        padding-left: 3em;
        a {
          color: $tag-color; // set this as a default in base.scss
        }
      }
      .instrument {
        font-style: italic;
      }
    }// end of .concert-program-listing
  } // end of .concert-program
} // end of .concert-info-b

.concert-program-date{
  @extend %hp-section-date;
}
