#concert-listings article.concert {
  display: flex;
  flex-flow: column nowrap;
	margin-bottom: $big2;

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

#concert-listings article.concert .concert-info-a {
  flex: 1;

  @include respond-to(wide-plus) {
    flex: none;
    @include col(1,3);
  }

  display: flex;
  flex-flow: column nowrap;

  .concert-tag {
    @extend %section-tag;
  }

  h2.concert-name {
   @extend %serif-display;
   // text-align: left;
  }
  .concert-location {
    @extend %caps-sans;
  }
  .concert-copy {
    @extend %copy;
    display: none;
    @include respond-to(medium-plus) {
      display: block;
      margin-bottom: 1em;
    }
  }
}
div.page-header {
  width:100%;
  h1 {
    //@extend %big2;
    color: $tag-color;
    @extend %small-header;
    @extend %sans-heavy;
    display: inline-block;
    margin-bottom: $big2;
  }
  display: flex;
  justify-content: space-between;
  a {
    @extend %small1;
    color: $nav-color;
  }
}

#concert-listings article.concert .concert-info-b {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;

  @include respond-to(medium-plus) {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  @include respond-to(wide-plus) {
    //flex: 2;
    flex: none;
    @include col(2,3);
  }

  .concert-image {
	 margin-bottom: $default-gutter;
    flex: 1;
    @include respond-to(medium-plus) {
      flex: none;
      width: 100%;
   }
  }

  .concert-program {
    flex: none;
    border: $lesser-border;
    width: 100%;
	 margin-bottom: $default-gutter;

    @include respond-to(medium-plus) {
      // width: ((($max-container-width * 0.66) - $base-font-size) / 2) / ($max-container-width * 0.66) * 100%;
      @include col(1, 2, $container-width: 642.656px, $gutter: 24px);
    }

    .concert-program-date {
      @extend %caps-sans;
    }
    .concert-program-listing {
      .concert-program-piece {
        font-style: italic;
      }
      .concert-program-piece-composer {
			font-style: normal;
      }
      .concert-program-piece-soloist {
        padding-left: 3em;
        a {
          color: $link-color; // set this as a default in base.scss
        }
      }
      .instrument {
        font-style: italic;
      }
    }// end of .concert-program-listing
  } // end of .concert-program
} // end of .concert-info-b

.concert-info-b .concert-program div {
    padding: 0 12px;
}
.concert-info-b .concert-program {
    div:first-child {
        padding-top: 12px;
    }
    div:last-child {
        padding-bottom: 12px;
    }
}
/*.concert-program-date{
    @extend %caps-sans;
}*/