// base extensions - not media query specific
%hp-section-tag {
  @extend .subhead;
  font-family: $sans; // see base/typography for these values
  color: $tag-color;
}

%hp-section-name {
  text-transform: capitalize;
  text-align: center;
}

%hp-section-date {
  @extend .subhead;
  font-family: $sans;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em;
}

%hp-section-copy {
  //font-size: 1em; 18/16
  margin: 0 1em;
  text-align: center;
}

%hp-bottom-border {
  padding-bottom: 1.75em;
  margin-bottom: 1.75em;
  border-bottom: $border;
}

//////////////////////////////////
// Featured concert on homepage //
//////////////////////////////////
#featured-concert > article.concert {
  display: flex;
  flex-flow: column nowrap;

  @extend %hp-bottom-border;

  div.concert-image {

  }
  div.concert-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    //vertical-align: center;

    p.concert-tag {
      @extend %hp-section-tag;
    }

    h2.concert-name {
      @extend %hp-section-name;
      font-size: 3em;
        text-transform: uppercase;
    }

    p.concert-date {
      @extend %hp-section-date;
    }

    p.concert-copy {
      @extend %hp-section-copy;
    }
  } // end of div.concert-info

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;

    div.concert-image {
      flex: 2;
      .concert-image-container { // flexbox doesn't 'count' padding or margins, need container to add spacing to img
      margin-right: 1em;
      }
      padding-right: 1em;
      border-right: none;
    }
    div.concert-info {
      flex: 1;
      justify-content: center;

      div.concert-image {
        max-width: 100px;
      }

      p.concert-tag {

      }
      h2.concert-name {

      }
      p.concert-date {

      }
      p.concert-copy {
        font-size: 1.125em;
      }
    } // end of div.concert-info

  } // end of 'wide-plus'
}

////////////////////////////////////
// Row of three upcoming concerts //
////////////////////////////////////
#next-concerts {
  display: flex;
  flex-flow: column nowrap;

  @extend %hp-bottom-border;

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
  }

}

#next-concerts > article.concert {
  display: flex;
  flex-flow: column nowrap;

  flex: 1;

  margin-bottom: 1.75em;

  div.concert-image {

  }
  div.concert-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p.concert-tag {
      @extend %hp-section-tag;
    }
    h2.concert-name {
      @extend %hp-section-name;
      text-transform: uppercase;
    }
    p.concert-date {
      @extend %hp-section-date;
    }
    p.concert-copy {
      @extend %hp-section-copy;
    }
  } // end of div.concert-info

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
    margin-bottom: 0;

    div.concert-image {
      margin-bottom: 15px;
    }
    div.concert-info {
      flex: 1;

      p.concert-tag {

      }
      h2.concert-name {

      }
      p.concert-date {

      }
      p.concert-copy {

      }
    } // end of div.concert-info

  } // end of 'wide-plus'
}

@include respond-to(wide-plus) {
  #next-concerts > article.concert { // wrapped this in a MQ to remove the line on mobile
    > div.concert-info {
      border-right: $lesser-border;
    }
  }
}

#next-concerts > article.concert:last-of-type {
  > div.concert-info {
    border-right: none;
  }
}

///////////////////////////
// Row of two blog posts //
///////////////////////////
#recent-blog-posts {
  display: flex;
  flex-flow: column nowrap;

  @extend %hp-bottom-border;

  @include respond-to(medium-plus) {
    flex-flow: row nowrap;
  }

}

#recent-blog-posts > article.blog-post {
  display: flex;
  flex-flow: column nowrap;

  flex: 1;

  margin-bottom: 1.75em;

  div.blog-image {

  }
  div.blog-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p.blog-tag {
      @extend %hp-section-tag;
    }
    h2.blog-name {
      @extend %hp-section-name;
        font-size: 1.7em;
    }
    p.blog-date {
      @extend %hp-section-date;
    }
    p.blog-copy {
      @extend %hp-section-copy;
    }
  } // end of div.blog-info

  @include respond-to(medium-plus) {
    flex-flow: row nowrap;

    margin-bottom: 0;

    div.blog-image {
      .blog-image-container {
        padding: 0 1em;
      }
    }
    div.blog-info {
      flex: 1;

      p.blog-tag {

      }
      h2.blog-name {
        padding: 0 1em;
      }
      p.blog-date {

      }
      p.blog-copy {

      }
    } // end of div.blog-info

  } // end of 'wide-plus'
}

@include respond-to(medium-plus) {
  #recent-blog-posts > article.blog-post {
    > div.blog-info {
      border-right: $lesser-border;
    }
  }
}

#recent-blog-posts > article.blog-post:last-of-type {
  > div.blog-info {
    border-right: none;
  }
}
