//////////////////////////////////
// Featured concert on homepage //
//////////////////////////////////
#featured-concert > article.concert {
  display: flex;
  flex-flow: column nowrap;

  max-height: 350px;

  div.concert-image {

  }
  div.concert-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p.concert-tag {
      font-family: $sans;
    }
    h2.concert-name {

    }
    p.concert-date {
      font-family: $sans;
    }
    p.concert-copy {
      margin: 0 1em;
    }
  } // end of div.concert-info

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;

    div.concert-image {
      flex: 2;
    }
    div.concert-info {
      flex: 1;

      p.concert-tag {

      }
      h2.concert-name {

      }
      p.concert-date {

      }
      p.concert-copy {

      }
    } // end of div.concert-info

  } // end of 'wide-plus'
}

////////////////////////////////////
// Row of three upcoming concerts //
////////////////////////////////////
#next-concerts {
  display: flex;
  flex-flow: column nowrap;

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
  }

}

#next-concerts > article.concert {
  display: flex;
  flex-flow: column nowrap;

  flex: 1;

  div.concert-image {

  }
  div.concert-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p.concert-tag {

    }
    h2.concert-name {

    }
    p.concert-date {

    }
    p.concert-copy {
      margin: 0 1em;
    }
  } // end of div.concert-info

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;

    div.concert-image {
      flex: 2;
    }
    div.concert-info {
      flex: 1;

      p.concert-tag {

      }
      h2.concert-name {

      }
      p.concert-date {

      }
      p.concert-copy {

      }
    } // end of div.concert-info

  } // end of 'wide-plus'
}

///////////////////////////
// Row of two blog posts //
///////////////////////////
#recent-blog-posts {
  display: flex;
  flex-flow: column nowrap;

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;
  }

}

#recent-blog-posts > article.blog-post {
  display: flex;
  flex-flow: column nowrap;

  flex: 1;

  div.blog-image {

  }
  div.blog-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p.blog-tag {

    }
    h2.blog-name {

    }
    p.blog-date {

    }
    p.blog-copy {
      margin: 0 1em;
    }
  } // end of div.blog-info

  @include respond-to(wide-plus) {
    flex-flow: row nowrap;

    div.blog-image {
      //flex: 2;
    }
    div.blog-info {
      flex: 1;

      p.blog-tag {

      }
      h2.blog-name {
        text-align: center;
      }
      p.blog-date {

      }
      p.blog-copy {

      }
    } // end of div.blog-info

  } // end of 'wide-plus'
}

