footer > .container {
	display: flex;
	flex-flow: column nowrap;

	@include respond-to(medium-plus) {
		flex-flow: row nowrap;
	}
		
	nav.footer-nav {
		flex: 2;
	}

	div.contact {
		flex: 1;
	}

	div.subscribe {
		flex: 1;
	}
}
