.navigation > .container {
  display: flex;
  flex-flow: column nowrap;
}

nav {
  @include respond-to(wide-plus) {
    > ul > li {
      display: inline-block;

      > ul {
        position: absolute;
      }
    }
  }
}
