.navigation > .container {
  display: flex;
  flex-flow: column nowrap;
}

.logo {
  max-width: 75px;

  @include respond-to(wide-plus) {
    max-width: 100px;
    align-self: center;
  }
}

.navigation .title > h1 {
  text-align: center;
}

.nav-toggle {
  // width: 30px;
  // height: 30px;
  flex: auto;
  display: flex;
  justify-content: flex-end;

  @include respond-to(medium-plus) {
    display: none;
  }

  button {
    width: 30px;
    height: 30px;
    align-self: center;
  }
  .nav-toggle-bar {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
    background-color: #000000;
  }
}

nav {
  @include respond-to(wide-plus) {
    > ul > li {
      display: inline-block;
      padding-right: 5em;

      > ul {
        position: absolute;
        display: none;
      }
    }

    > ul > li:hover > ul {
      display: block;
    }
  } // End of @include
} // end of nav
