.view-musicians .view-content {

  @include respond-to(medium) {
    columns: 2;
    column-gap: 8em;
  }

  @include respond-to(wide-plus) {
    columns: 3;
    column-gap: 8em;
  }

  .item-list {
    margin-bottom: 1em;
    break-inside: avoid;
  }
}

section#roster {
  .item-list {
    @extend %border-bottom;
    h3 {
      @extend %caps-sans;
      margin-bottom: $small3;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  ul li .field-content {
    @extend %sans;
    @extend %small-sans-sizing;
  }
}