.container {
  max-width: $max-container-width;
  margin: 0 $container-margin;
  display: flex;
  flex-flow: row wrap;

  @include respond-to(super-wide){
    max-width: $max-container-width;
    margin: auto;
  }
}

img {
  width: 100%;
}

$border: 1px solid #4d4d4d;
$lesser-border: 1px solid #cacaca;
%border-bottom {
	padding-bottom: 1em;
	border-bottom: $lesser-border;
	margin-bottom: 1em;
}
a {
  color: #000000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.nolink, &.nolink:hover {
    text-decoration: none;
  }
}

button, .button {
  font-size: 1em;
  padding: 1.5em;
  background-color: #080808;
  color: #ffffff;
  border: none;
}
main div {
    padding-bottom: 5px
}