.container {
  max-width: $max-container-width;
  margin: 0 $container-margin;
  display: flex;
  flex-flow: row wrap;

  @include respond-to(super-wide){
    max-width: $max-container-width;
    margin: auto;
  }
}

img {
  width: 100%;
}

$border: 1px solid #4d4d4d;
$lesser-border: 1px solid #cacaca;
