$sans: "azo-sans-web", "Helvetica Neue", sans-serif;
$serif-display: "kepler-std-semicondensed-dis", serif;
$serif: "utopia-std", "adobe-caslon-pro", serif;

body {
  font-family: $serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;
}

h1 {
  font-family: $sans;
  font-size: 1.375em; // orig 22/66
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-family: $serif-display;
  font-size: 1.5em; // orig 24/16
  line-height: 1.3em;
  // check weight
}


h3 {
  font-family: $sans;
  font-size: 0.7em; // orig 11/16
  text-transform: uppercase; // more specific?
  letter-spacing: 1px;
  // check weight
}
