$sans: "azo-sans-web", "Helvetica Neue", sans-serif;
$serif-display: "kepler-std-semicondensed-dis", serif;
$serif: "utopia-std", "adobe-caslon-pro", serif;

html {
  font-family: $serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;
}

h1 {
  font-family: $sans;
  font-size: 1.375em; // orig 22/66
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1.25em;
}

h2 {
  font-family: $serif-display;
  font-size: 2em; // 32/16
  line-height: 1.3em;
  // check weight
}


h3 {
  font-family: $sans;
  font-size: 0.7em; // orig 11/16
  text-transform: uppercase; // more specific?
  letter-spacing: 1px;
  // check weight
}

.subhead {
  font-size: 0.625em;
  letter-spacing: 1px;
  line-height: 1em;
}
